<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
<div class="field"><h4>Title</h4>
<%= f.text_field :title,class: "book_title" %>
</div>
<div class="field"><h4>Body</h4>
<%= f.text_area :body,class: "book_body" %>
</div>
<div class="actions"><%= f.submit 'Update Book' %>
</div>
<%= link_to "Show", book_path(@book),class: "show_#{@book}" %>
|
<%= link_to "Back", books_path(@book),class: "back" %>
<% end %>